* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
}
/* pre loader start  */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #6e144a;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #009578;
  border-radius: 50%;
  animation: loading 4s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
/* pre loader ends  */
/* body{
    background-image: url(https://www.qatarairways.com/content/dam/images/renditions/horizontal-1/campaigns/gcc/region/hn-early-summer-collage.jpg);
} */
.hover-underline {
  position: relative;
  display: inline-block;
  color: #8e2157;
  text-decoration: none;
  transition: color 0.3s ease;
}

.hover-underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #8e2157;
  transition: width 0.3s ease;
}

.hover-underline:hover::before {
  width: 100%;
}

.hover-underline:hover {
  color: #8e2157;
}
.kool:hover {
  background-color: #fff !important;
  color: #8e2157 !important;
}
.page {
  height: 80vh !important;
  background-image: url(https://www.qatarairways.com/content/dam/images/renditions/horizontal-1/campaigns/gcc/region/hn-early-summer-collage.jpg);
  animation: change 30s infinite ease-in-out;
}
@keyframes change {
  0% {
    background-image: url(https://www.qatarairways.com/content/dam/images/renditions/horizontal-1/campaigns/gcc/region/hn-early-summer-collage.jpg);
  }
  20% {
    background-image: url(https://www.qatarairways.com/content/dam/images/renditions/horizontal-1/campaigns/global/destinations-promo/hn-alula-saudi.jpg);
  }
  40% {
    background-image: url(https://www.qatarairways.com/content/dam/images/renditions/horizontal-1/brand/business-class/h1-b787-900-businessman-hn.jpg);
  }
  60% {
    background-image: url(https://www.qatarairways.com/content/dam/images/renditions/horizontal-1/campaigns/global/destinations-promo/hn-europe-city.jpg);
  }
  80% {
    background-image: url(https://www.qatarairways.com/content/dam/images/renditions/horizontal-1/brand/economy-class/h1-b777-economy-family-dining-hn.jpg);
  }
  100% {
    background-image: url(https://www.discoverqatar.qa/images/souq-waqif-cafes-1800x600);
  }
}

.drac:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.suggestions-container {
  width: 50%;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  z-index: 1000;
  background-color: #fff;
  border: 0;
  margin-top: 25px;
  border-top: none;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
#countryInput {
  width: 50%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}
.input-group {
  width: 30%;
}
.suggestions-container div {
  padding: 10px;
  cursor: pointer;
}

.image-container {
  position: relative;
  width: 450px;
  margin-top: 5px;
  border-radius: 5px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .image-container {
    position: relative;
    width: 100%;
    margin-top: 8px;
    border-radius: 20px;
    overflow: hidden;
  }
  .imaged {
    position: relative;
    width: 100%;
    margin-top: 8px;
    border-radius: 20px;
    overflow: hidden;
  }
}
.imaged {
  position: relative;
  width: 300px;
  margin-top: 5px;
  border-radius: 8px;
  overflow: hidden;
}
.imaged:hover .image-info {
  bottom: 0;
}
.image-info {
  color: white;
  width: 100%;
  position: absolute;
  bottom: -80px;
  transition: bottom 0.3s ease;
  padding: 10px;
}
.mega-menu {
  width: 800px;
}
.mega-menu .col {
  padding: 15px;
}
.centered-dropdown {
  position: absolute;
  padding: 15px;
  left: 50%;
  transform: translateX(-66%);
  height: 30vw;
  width: 100vw;
  background-color: #1aa3f7;
}

.image-container:hover .image-info {
  bottom: 0;
}

.image-info h4 {
  margin-top: 0;
  font-size: 18px;
}
.list-unstyled li a {
  text-decoration: none;
  color: #1aa3f7;
}
.list-unstyled li a:hover {
  text-decoration: underline;
  color: #8e2157;
}
.gay {
  border-radius: 8px;
}
/* .gay:hover {
  background-color: #8e2157;
  color: #fff;
} */

.gay-hover {
  display: inline-block;
  position: relative;
  color: #8e2157;
  text-decoration: none;
}

.gay-hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #6e144a;
  transition: width 0.3s ease;
}

.gay-hover:hover::after {
  width: 100%;
}

.image-info p {
  margin-bottom: 5px;
  font-size: 14px;
}

.image-info button {
  background-color: #8e2157;
  width: 200px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.image-info button:hover {
  background-color: #6c1a45;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}
@media (max-width: 480px) {
  .image-container {
    width: 100%;
  }
  .image-info {
    padding: 2px;
  }
  .image-info button {
    width: 100px;
  }
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.image-container:hover .image-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
.imaged:hover .image-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
@media (max-width: 480px) {
  .imaged {
    width: 100%;
  }
  .image-info {
    padding: 2px;
  }
  .image-info button {
    width: 100%;
  }
}
.gih {
  width: 100%;
}
.local {
  background-image: url(https://www.qatarairways.com/content/dam/images/renditions/horizontal-1/privilege-club/cards-circle/h1-ffp-cards-qsuite-crew.jpg);
  background-size: cover;
  height: 70vh;
}
/* .local-host{
  max-width: 600px;
  mask-image: url(index.html);
  height: 12vh;
  display: inline-block;
  border: 0;
} */
.local1 {
  background-image: url(https://www.qatarairways.com/content/dam/images/renditions/horizontal-1/campaigns/global/mobile/h1-mobile-weekend-campaign.jpg);
  background-size: cover;
  height: 70vh;
}
.local2 {
  background-image: url(https://www.qatarairways.com/content/dam/images/renditions/horizontal-1/miscellaneous/baggages/h1-hand-baggage.jpg);
  background-size: cover;
  height: 70vh;
}
.local3 {
  background-image: url(https://www.qatarairways.com/content/dam/images/renditions/horizontal-1/campaigns/gcc/region/hn-early-summer-collage.jpg);
  background-size: cover;
  height: 70vh;
}
@media (max-width: 767px) {
  .local .local1 .local2 {
    height: 20vh;
  }
}

.her {
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 400px;
  color: white;
  border-radius: 15px;
}
.her1 {
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 500px;
  margin: 20px;
  color: white;
  border-radius: 15px;
}
.her3 {
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 500px;
  color: white;
  border-radius: 15px;
}
@media (max-width: 767px) {
  .her {
    width: fit-content;
  }
  .hy {
    font-size: 1rem;
  }
  .hj {
    font-size: 1.3rem;
  }
}
.nuh {
  background-color: transparent;
  padding: 10px 20px;
  border-color: white;
  color: white;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.nuh:hover {
  background-color: white;
  color: #000;
}
.nh{
  background-color: transparent;
  padding: 5px 10px;
  border-color: white;
  margin-top: 15px;
  color: white;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}
.nh:hover{
  background-color: white;
  color: #000;
}
.nih{
  background-color: transparent;
  padding: 10px 20px;
  border-color: white;
  margin-top: 20px;
  color: white;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}
.lot {
  background-color: transparent !important;
  border: none;
  position: relative;
  padding-bottom: 10px;
}

.lot::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #8e2157;
  transition: width 0.4s ease;
}

.lot.active::before,
.lot:hover::before {
  width: 95%;
}

.luck {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 3s ease, transform 3s ease;
}

.luck.visible {
  opacity: 1;
  transform: translateY(0);
}

.rowed {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 767px) {
  .rowed {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 1024px) {
  .rowed {
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    gap: 10px;
  }
  .card-title {
    font-size: 1rem;
  }
}

/* .nuh:hover {
    background: #fff;
    color: black;
} */

.den {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://www.qatarairways.com/content/dam/images/custom/enl-subscribe-component/NL_Background_Desktop.png");
  background-size: cover;
  border-radius: 40px;
  background-position: center;
  height: 70vh;
}

.jui{
  padding: 10px;
  width: 250px;
}

.ju {
  width: 30px;
}

.yeah {
  color: white;
  margin-top: 20px;
}

.jur{
  width: 150px;
}
.yea {
  color: white;
  font-size: 0.8rem;
  margin-top: 30px;
}
.ht {
  padding: 20px;
}


.con {
  background-image: url("https://www.qatarairways.com/content/dam/images/custom/enl-subscribe-component/NL_Background_Desktop.png");
  background-size: cover;
  border-radius: 40px;
  background-position: center;
}



