*{
    margin: 0;
    padding: 0;
}
/* body{
    background-image: url(https://www.qatarairways.com/content/dam/images/renditions/horizontal-1/campaigns/gcc/region/hn-early-summer-collage.jpg);
} */
.kool:hover{
    background-color: #fff !important;
    color:  #343a40!important;
}
.page{
    height: 80vh !important; 
    background-image: url(https://www.qatarairways.com/content/dam/images/renditions/horizontal-1/campaigns/gcc/region/hn-early-summer-collage.jpg);

}